body{
    padding:0px;
    margin:0px;
    background-color: #c0c0c0;
    color:#333;
    background: url('https://netstorage-tuko.akamaized.net/images/0fgjhs2eue2pr3jql.jpg?imwidth=900');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav{
    text-align: end;
}
a{
    font-style: italic;
    text-decoration: none;
    padding:20px;

}
header{
    text-align: center;
    font-size: xx-large;
    color:black;
    padding:10px;
    padding-top:150px   
}

